* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Courier, monospace;
}

.App {
  height: 100%;
  padding-bottom: 50px;

  background-color: rgb(204, 204, 204);
}

/* Header */
.App-header {
  height: 75px;

  color: white;
  font-family: "Comic Sans MS";
  font-size: 50px;

  background-color: rgb(20, 62, 112);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* main-container that holds input fields and generated CV */
.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* The container that holds all input related components  */
.input-container {
  width: 600px;

  margin-top: 25px;
  padding: 15px;

  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: solid black 2.5px;
  border-radius: 5px;
}

.personalInformation-title {
  text-align: center;
}

textarea,
input {
  resize: none;
  padding: 2.5px;
}

button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  padding: 2.5px 5px 2.5px 5px;
  border-radius: 10px;
  margin: 5px 2.5px 0 0;
  cursor: pointer;
}
button:hover {
  background-color: rgb(191, 191, 191);
}

.del-btn {
  background-color: rgb(228, 102, 102);
  width: 100%;
}

.save-btn {
  background-color: rgb(94, 216, 94);
  width: 100%;
}

.defaultData-btn {
  background-color: rgb(20, 62, 112);
  margin-top: 25px;
  color: white;
  width: 100%;
}

.addExp-btn {
  background-color: rgb(20, 62, 112);
  color: white;
}

.file-upload {
  display: none;
}

.label-file-upload {
  cursor: pointer;
}

/* Personal Information Input Component */
.personalInformation-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Experiences input Component */
.Experiences {
  margin-top: 15px;
}

.experience-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Education Component */
.Education-Container {
  margin-top: 15px;
}

.educational-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* OUTPUT Container  */

.output-container {
  width: 600px;
  min-height: 700px;
  max-height: 700px;

  margin-top: 25px;
  padding: 10px;

  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: solid black 2.5px;
  border-radius: 5px;
}

/* DisplayCV Component Styling */
.DisplayCV {
}

.displayCv-intro {
  height: 100px;
  padding: 15px;

  color: white;
  background-color: rgb(20, 62, 113);
}

/* Subsections */
.cv-section {
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 10px;

  border-bottom: solid grey 2px;
}

.cv-subSection {
  font-weight: bolder;
  margin-top: 5px;
}

.cv-experienceSection,
.cv-educationSection {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

.cv-experienceSection-child,
.cv-educationSection-child {
  width: 150px;
}

.educationDetails,
.workDetails {
  width: 200px;
}

img {
  width: 100%;
  height: auto;
}

/* container for the rest of cv info and personal details */
.displayCv-body {
  display: flex;

  /* Temp */
  height: 500px;
}

.body-generalInfo {
  padding: 0 15px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0px 0px;

  flex: 3;
}

.body-personalDetails {
  padding: 15px;

  flex: 1;
}
